<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog Post</div>
    <form class="ui form" action="/blogs" method="POST">
        
        <div class="field">
            <lable>Title</lable>
            <input type="text" name="blog[title]" placeholder="Title" />
        </div>
        
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Image URL" />
        </div>
        
        <div class="field">
            <label>Content</label>
            <textarea name="blog[body]"></textarea>
        </div>
        
        <input class="ui blue button" type="submit" value="Submit" />
    </form>
</div>

<% include ./partials/footer %>
